<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<import resource="classpath:/biz/persistence.xml" />
	<import resource="classpath:/biz/spring-biz.xml" />
	<import resource="classpath:/biz/spring-dao.xml" />
	<import resource="classpath:/biz/spring-hsf-provider.xml" />
	<import resource="classpath:/biz/spring-hsf-consumer.xml" />
	<import resource="classpath:/biz/spring-tair.xml" />
	<import resource="classpath:/biz/spring-leader-elector.xml" />
	<import resource="classpath:/biz/spring-schedule.xml" />
</beans>