<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
		<property name="locations">
			<list>
				<value>classpath*:antx.properties</value>
			</list>
		</property>
	</bean>
	<import resource="classpath:biz/persistence.xml" />
	<import resource="classpath:biz/spring-hsf-consumer.xml" />
	<import resource="classpath:biz/spring-biz.xml" />
	<import resource="classpath:biz/spring-dao.xml" />
	<import resource="classpath:biz/spring-oss.xml" />
	<import resource="classpath:biz/spring-msg-row-parser.xml" />
	<import resource="classpath:biz/spring-disp-notify-consumer.xml" />
	<!-- 
	<import resource="classpath:biz/spring-group-notify-sender.xml" />
	 -->
	<import resource="classpath:biz/spring-queue-client.xml" />
	<import resource="classpath:biz/spring-manager.xml" />
	<import resource="classpath:biz/spring-tair.xml" />
	<import resource="classpath:biz/spring-task.xml" />

</beans>