<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="policySearchService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicySearchService"/>
		<property name="version" value="${za.group.hsf.consumerversion.policy}"/>
	</bean>

	<bean id="cashierOrderService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.cashier.service.CashierOrderService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="brokerRetailerApplicantRelationService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.BrokerRetailerApplicantRelationService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
     
     <bean id="policyQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyQueryService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	<bean id="policyBillPlanService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyBillPlanService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	
	<bean id="policyLiabilityService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyLiabilityService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	
	<bean id="liabilityDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.LiabilityDefService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="policyService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	
	<bean id="userFamilyRelationService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.UserFamilyRelationService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="productPackageDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductPackageDefService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="productRuleFactorCfgService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductRuleFactorCfgService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	
	<bean id="policyEndorsementService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyEndorsementService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	
	<bean id="billRemoteService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillRemoteService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="policyEndorModifElemService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyEndorModifElemService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	
	<bean id="policyProductLiabilityService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.PolicyProductLiabilityService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="smsSender" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.sms.SmsSender"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	
	<bean id="mailService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.mail.MailService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	
	<bean id="accountService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.account.service.AccountService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="cusContactInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusContactInfoService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
    <bean id="productService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="policyPackageBaseRideService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyPackageBaseRideService"/>
		<property name="version" value="${za.group.hsf.consumerversion.policy}"/>
	</bean>
 
	 <bean id="channelProductRelationService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.ChannelProductRelationService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>	
	
	<bean id="personService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.user.service.CusPersonService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="groupInsuranceUserInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.user.service.GroupInsuranceUserInfoService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="claimGrossRemote" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.claim.service.ClaimGrossService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
   <bean id="accountHrCompanyService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.account.service.AccountHrCompanyService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="channelQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.ChannelQueryService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="partnerExtraInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.PartnerExtraInfoService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>	
	<bean id="cusSearchService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusSearchService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="claimQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.claim.service.ClaimQueryService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="cusUserMarkService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusUserMarkService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="policyAttachmentService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyAttachmentService" />
		<property name="version" value="${za.group.hsf.consumerversion.policy}" />
	</bean>
	<bean id="companyService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.user.service.CusCompanyService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="accountAuthCompanyService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.account.service.AccountAuthCompanyService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="accountOrgService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.account.service.AccountOrgService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="angelUnemploymentService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.kawaii.angel.service.AngelUnemploymentService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="billCashService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillCashService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="messageSendService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.pigeon.service.MessageSendService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="cusBlackListService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusBlackListService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="policyInsuredAmountService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.cdc.service.PolicyInsuredAmountService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>

   <bean id="billService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
	<property name="interfaceName" value="com.zhongan.core.bill.service.BillService" />
	<property name="version" value="${za.group.hsf.consumerversion.common}" />
   </bean>	

	<bean id="quotationInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.QuotationInfoService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
	<bean id="cusQuoteSummaryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.CusQuoteSummaryService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
	<bean id="quoteHealthInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.QuoteHealthInfoService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
	<bean id="quotePackageDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.QuotePackageDefService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
	<bean id="quoteGroupPolicyInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.QuoteGroupPolicyInfoService"/>
		<property name="version" value="${za.group.hsf.consumerversion.broker}"/>
	</bean>
	<bean id="channelRateInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.ChannelRateInfoService"/>
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="docPrintService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.doc.service.DocPrintService" />
		<property name="version" value="${za.group.hsf.consumerversion.doc}" />
	</bean>
	<bean id="tPiDocumentService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.doc.service.TPiDocumentService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="dictService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.cmds.service.DictService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="ncsIdempotentService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.ncs.service.NcsIdempotentService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="commissionBillService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.CommissionBillService " />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="commissionPlanDefinitionService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.CommissionPlanDefinitionService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="brokerInsuranceCommissionInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.BrokerInsuranceCommissionInfoService" />
		<property name="version" value="${za.group.hsf.consumerversion.broker}" />
	</bean>
	<bean id="productDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductDefService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="brokerInsuranceProductPremiumService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.BrokerInsuranceProductPremiumService" />
		<property name="version" value="${za.group.hsf.consumerversion.broker}" />
	</bean>
	
	<bean id="capAccountService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.capaccount.service.CapAccountService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="billReceiptFacadeService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillReceiptFacadeService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="capAccountDetailsService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.capaccount.service.CapAccountDetailsService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
    <bean id="docCommonService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.doc.service.DocCommonService" />
		<property name="version" value="${za.group.hsf.consumerversion.doc}" />
	</bean>
	<bean id="personExtensionService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusPersonExtensionService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="accountOrgMemberService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.account.service.AccountOrgMemberService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="brokerBusinessStatisticsService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.BrokerBusinessStatisticsService" />
		<property name="version" value="${za.group.hsf.consumerversion.broker}" />
	</bean>
	<bean id="brokerBusinessStatisticsDetailService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.broker.service.BrokerBusinessStatisticsDetailService" />
		<property name="version" value="${za.group.hsf.consumerversion.broker}" />
	</bean>	
	<bean id="cdcPolicyQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.cdc.service.PolicyQueryService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="policyDocPrintService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.doc.service.PolicyDocPrintService" />
		<property name="version" value="${za.group.hsf.consumerversion.doc}" />
	</bean>
	<bean id="claimKawaiiService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.kawaii.claim.service.ClaimKawaiiService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}"/>
	</bean>
	<bean id="banklocationsService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillBanklocationsService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="billBanksService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillBanksService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="billStandardareasService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillStandardareasService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	<bean id="channelDefinitionService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.channel.service.ChannelDefinitionService" />
		<property name="version" value="${za.group.hsf.consumerversion.common}" />
	</bean>
	
	<bean id="policyProductPackageService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.PolicyProductPackageService" />
		<property name="version" value="1.0.0" />
	</bean>
</beans> 
