<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="notifySender" class="com.zhongan.core.group.notify.NotifySenderImpl" >
    	<property name="topic" value="${za.group.online.offlinePay.notify.topic}" />
    	<property name="timeout" value="3000" />
    	<property name="postTimeout" value="10000" />
	</bean>
	
	<bean id="notifyManager" class="com.taobao.hsf.notify.client.NotifyManagerBean" init-method="init">
        <property name="publishTopics">
			<list>
				<value>${za.group.online.offlinePay.notify.topic}</value>
			</list>
		</property>
		<property name="groupId" value="${za.group.online.offlinePay.notify.groupId}"/>
		<property name="name" value="${za.group.online.offlinePay.notify.name}"/>
		<property name="description" value="团险保单状态变更消息推送"/>
    </bean>
    
    <bean id="notifySendMessage" class="com.zhongan.core.group.notify.NotifySendMessageImpl" >
    	<property name="topic" value="${za.group.ncs.claimMessage.notify.topic}" />
    	<property name="timeout" value="3000" />
    	<property name="postTimeout" value="10000" />
	</bean>
	
	<bean id="notifySendMessageManager" class="com.taobao.hsf.notify.client.NotifyManagerBean" init-method="init">
        <property name="publishTopics">
			<list>
				<value>${za.group.ncs.claimMessage.notify.topic}</value>
			</list>
		</property>
		<property name="groupId" value="${za.group.ncs.claimMessage.notify.groupId}"/>
		<property name="name" value="${za.group.ncs.claimMessage.notify.name}"/>
		<property name="description" value="团险理赔发送短信、邮件的消息通知"/>
    </bean>
</beans>