<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			           http://www.springframework.org/schema/context
			           http://www.springframework.org/schema/context/spring-context-3.0.xsd
			           http://www.springframework.org/schema/mvc
			       	   http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">

	<context:component-scan base-package="com.pingan.jinke" />
	<context:annotation-config />
	<context:property-placeholder location="classpath*:*.properties" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".*"></property>
	</bean>



	<bean id="zkConfig"
		class="com.yjfei.padis.common.ZookeeperConfiguration">
		<constructor-arg index="0" type="String" value="${zkAddr}" />
		<constructor-arg index="1" type="String" value="padis" />
		<constructor-arg index="2" type="int"
			value="3000" />
		<constructor-arg index="3" type="int"
			value="2000" />
		<constructor-arg index="4" type="int" value="3" />
	</bean>

	<bean id="zkRegCenter"
		class="com.yjfei.padis.storage.ZookeeperRegistryCenter"
		init-method="init">
		<constructor-arg index="0" ref="zkConfig" />
	</bean>

	<bean id="groupService" class="com.yjfei.padis.group.GroupService">
		<constructor-arg index="0" ref="zkRegCenter" />
	</bean>

	<bean id="instanceService" class="com.yjfei.padis.service.InstanceService">
		<constructor-arg index="0" ref="zkRegCenter" />
	</bean>

	<bean id="migrateService" class="com.yjfei.padis.service.MigrateService">
		<constructor-arg index="0" ref="zkRegCenter" />
	</bean>

	<bean id="migrateManager"
		class="com.yjfei.padis.migrate.MigrateTaskManager"
		init-method="start">
		<constructor-arg index="0" ref="zkRegCenter" />
		<constructor-arg index="1" ref="taskExecutor" />
		<constructor-arg index="2" value="${passwd}" />
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="keepAliveSeconds" value="3000" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="1000" />
	</bean>
<!-- 
	<bean id="serviceConfig" class="com.pingan.um.client.service.ServiceConfig">
		<property name="searchUrl" value="${um2.search.http.url}" />
		<property name="companyCode" value="${um2.company.code}" />
		<property name="vUserID" value="${um2.vuser.id}" />
		<property name="vUserPassword" value="${um2.vuser.pwd}" />
		<property name="unitCode" value="${um2.unit.code}" />
		<property name="userCacheSize" value="${um2.user.cache.size}" />
	</bean>
	<bean id="umServiceManager" class="com.pingan.um.client.service.UMServiceManager"
		factory-method="getInstance">
		<constructor-arg ref="serviceConfig" />
	</bean>
	<bean id="umUserService" factory-bean="umServiceManager"
		factory-method="getUMUserService">
	</bean>
	<bean id="umAttributeService " factory-bean="umServiceManager"
		factory-method="getUMAttributeService">
	</bean>
	

 -->
</beans>