<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			           http://www.springframework.org/schema/context
			           http://www.springframework.org/schema/context/spring-context-3.0.xsd
			           http://www.springframework.org/schema/mvc
			       	   http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">

	<context:component-scan base-package="com.pingan.jinke" />
	<context:annotation-config />
	<context:property-placeholder location="classpath*:*.properties" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".*"></property>
	</bean>



	<bean id="zkConfig"
		class="com.pingan.jinke.infra.padis.common.ZookeeperConfiguration">
		<constructor-arg name="serverLists" value="${zkAddr}" />
		<constructor-arg name="namespace" value="padis" />
		<constructor-arg name="baseSleepTimeMilliseconds"
			value="3000" />
		<constructor-arg name="maxSleepTimeMilliseconds"
			value="2000" />
		<constructor-arg name="maxRetries" value="3" />
	</bean>

	<bean id="zkRegCenter"
		class="com.pingan.jinke.infra.padis.storage.ZookeeperRegistryCenter"
		init-method="init">
		<constructor-arg name="zkConfig" ref="zkConfig" />
	</bean>

	<bean id="groupService" class="com.pingan.jinke.infra.padis.group.GroupService">
		<constructor-arg name="coordinatorRegistryCenter" ref="zkRegCenter" />
	</bean>

	<bean id="instanceService" class="com.pingan.jinke.infra.padis.service.InstanceService">
		<constructor-arg name="coordinatorRegistryCenter" ref="zkRegCenter" />
	</bean>

	<bean id="migrateService" class="com.pingan.jinke.infra.padis.service.MigrateService">
		<constructor-arg name="coordinatorRegistryCenter" ref="zkRegCenter" />
	</bean>
	
	<bean id="migrateManager" class="com.pingan.jinke.infra.padis.migrate.MigrateTaskManager" init-method="start">
		<constructor-arg name="coordinatorRegistryCenter" ref="zkRegCenter" />
		<constructor-arg name="executor" ref="taskExecutor" />	
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="keepAliveSeconds" value="3000" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="1000" />
	</bean>
	
</beans>