<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
 
	<bean id="endorsementInsurantExcelUtil" class="com.zhongan.core.group.util.parse.EndorsementInsurantExcelUtil">
		<property name="valueValidatorMap">
			<map>
				<entry key="more-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.MoreThanValueValidator" />
				</entry>
				<entry key="less-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LessThanValueValidator" />
				</entry>
				<entry key="not-empty">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotEmptyValueValidator" />
				</entry>
				<entry key="not-null">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotNullValueValidator" />
				</entry>
				<entry key="cus-validate-size">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.CusDateSizeValueValidator" />
				</entry>
				<entry key="is-email">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsEmailValidator" />
				</entry>
				<entry key="is-mobile-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsMobileNOValidator" />
				</entry>
				<entry key="max-length">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.MaxLengthValueValidator" />
				</entry>
				<entry key="not-empty-mobile-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotEmptyMobileNOValidator" />
				</entry>
				<entry key="is-number-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsNumberNOValidator" />
				</entry>
			</map>
		</property>

		<property name="typeValidatorMap">
			<map>
				<entry key="java.lang.String">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.StringTypeValidator" />
				</entry>
				<entry key="java.lang.Integer">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IntegerTypeValidator" />
				</entry>
				<entry key="java.lang.Long">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LongTypeValidator" />
				</entry>
				<entry key="java.lang.Float">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.FloatTypeValidator" />
				</entry>
				<entry key="java.lang.Double">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DoubleTypeValidator" />
				</entry>
				<entry key="java.util.Date">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DateTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.CusCertiType">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.UserFamilyRelationEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.StaffTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.UploadDataTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.YesNoEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.PersonInsuranceTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
                <entry key="com.zhongan.core.user.constants.CusUserGenderType">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="policyInsurantExcelUtil"
		class="com.zhongan.core.group.util.parse.PolicyInsurantExcelUtil" >
		<property name="valueValidatorMap">
			<map>
				<entry key="more-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.MoreThanValueValidator" />
				</entry>
				<entry key="less-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LessThanValueValidator" />
				</entry>
				<entry key="not-empty">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotEmptyValueValidator" />
				</entry>
				<entry key="not-null">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotNullValueValidator" />
				</entry>
				<entry key="cus-validate-size">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.CusDateSizeValueValidator" />
				</entry>
				<entry key="is-email">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsEmailValidator" />
				</entry>
				<entry key="is-mobile-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsMobileNOValidator" />
				</entry>
				<entry key="is-number-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsNumberNOValidator" />
				</entry>
			</map>
		</property>

		<property name="typeValidatorMap">
			<map>
				<entry key="java.lang.String">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.StringTypeValidator" />
				</entry>
				<entry key="java.lang.Integer">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IntegerTypeValidator" />
				</entry>
				<entry key="java.lang.Long">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LongTypeValidator" />
				</entry>
				<entry key="java.lang.Float">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.FloatTypeValidator" />
				</entry>
				<entry key="java.lang.Double">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DoubleTypeValidator" />
				</entry>
				<entry key="java.util.Date">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DateTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.CusCertiType">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.UserFamilyRelationEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.StaffTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.UploadDataTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.YesNoEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.group.constants.PersonInsuranceTypeEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
                <entry key="com.zhongan.core.user.constants.CusUserGenderType">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
			</map>
		</property>
	</bean>


	<bean id="studentInsurantExcelUtil" class="com.zhongan.core.group.util.parse.StudentInsurantExcelUtil">
		<property name="valueValidatorMap">
			<map>
				<entry key="more-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.MoreThanValueValidator" />
				</entry>
				<entry key="less-than">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LessThanValueValidator" />
				</entry>
				<entry key="not-empty">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotEmptyValueValidator" />
				</entry>
				<entry key="not-null">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotNullValueValidator" />
				</entry>
				<entry key="cus-validate-size">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.CusDateSizeValueValidator" />
				</entry>
				<entry key="is-email">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsEmailValidator" />
				</entry>
				<entry key="is-mobile-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsMobileNOValidator" />
				</entry>
				<entry key="max-length">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.MaxLengthValueValidator" />
				</entry>
				<entry key="not-empty-mobile-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.NotEmptyMobileNOValidator" />
				</entry>
				<entry key="is-number-no">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IsNumberNOValidator" />
				</entry>
			</map>
		</property>

		<property name="typeValidatorMap">
			<map>
				<entry key="java.lang.String">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.StringTypeValidator" />
				</entry>
				<entry key="java.lang.Integer">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.IntegerTypeValidator" />
				</entry>
				<entry key="java.lang.Long">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.LongTypeValidator" />
				</entry>
				<entry key="java.lang.Float">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.FloatTypeValidator" />
				</entry>
				<entry key="java.lang.Double">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DoubleTypeValidator" />
				</entry>
				<entry key="java.util.Date">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.DateTypeValidator" />
				</entry>
				<entry key="com.zhongan.core.user.constants.UserFamilyRelationEnum">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
 				<entry key="com.zhongan.core.user.constants.CusUserGenderType">
					<bean class="com.zhongan.core.group.util.parse.validator.impl.EnumTypeValidator" />
				</entry>
			</map>
		</property>
	</bean>


	<bean id="xmlConfiguration" class="com.zhongan.core.group.util.parse.XmlConfiguration"
		init-method="init">
		<property name="attributeSplittingDisabled" value="true" />
		<property name="delimiterParsingDisabled" value="true" />
		<property name="reloadingStrategy">
			<bean
				class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" />
		</property>
		<property name="ruleFileName" value="biz/msg-parse-rule.xml" />
		<property name="expressionEngine">
			<bean
				class="org.apache.commons.configuration.tree.xpath.XPathExpressionEngine" />
		</property>
	</bean>
</beans>