<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="policySearchService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicySearchService"/>
		<property name="version" value="1.0.0"/>
	</bean>
     
     <bean id="policyQueryService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyQueryService" />
		<property name="version" value="1.0.0" />
	</bean>
	<bean id="policyLiabilityService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyLiabilityService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="liabilityDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.LiabilityDefService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="policyService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="userFamilyRelationService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.UserFamilyRelationService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="productPackageDefService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductPackageDefService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="policyEndorsementService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyEndorsementService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="billRemoteService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillRemoteService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="policyEndorModifElemService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.policy.service.PolicyEndorModifElemService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="policyProductLiabilityService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.PolicyProductLiabilityService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="smsSender" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.sms.SmsSender"/>
		<property name="version" value="1.0.0"/>
	</bean>
	
	<bean id="mailService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.mail.MailService" />
		<property name="version" value="1.0.0"/>
	</bean>
	
	<bean id="accountService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.account.service.AccountService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="cusContactInfoService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.user.service.CusContactInfoService" />
		<property name="version" value="1.0.0" />
	</bean>
	
    <bean id="productService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.product.service.ProductService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="banklocationsService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillBanklocationsService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="billBanksService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillBanksService" />
		<property name="version" value="1.0.0" />
	</bean>
	
	<bean id="billStandardareasService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean" init-method="init">
		<property name="interfaceName" value="com.zhongan.core.bill.service.BillStandardareasService" />
		<property name="version" value="1.0.0" />
	</bean>
	
</beans> 
