<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
<bean id="groupInsuranceEdaijiaExtensionServiceImpl" class="com.zhongan.core.group.service.impl.GroupInsuranceEdaijiaExtensionServiceImpl"/>
	<bean id="edaijiaPolicyService" class="com.zhongan.core.group.service.impl.EdaijiaPolicyServiceImpl"/>
	<bean id="jianzhiPolicyService" class="com.zhongan.core.group.service.impl.JianzhiPolicyServiceImpl"/>
	<bean id="commonParamConfig" class="com.zhongan.core.group.common.config.CommonParamConfig">
		<property name="devMode">
			<value>${za.basic.setting.mode}</value>
		</property>
	</bean>
	<bean id="addEdaijiaPolicyClient" class="com.zhongan.core.group.queue.client.edaijia.AddEdaijiaPolicyClient" />
	<bean id="addJianzhiPolicyClient" class="com.zhongan.core.group.queue.client.jianzhi.AddJianzhiPolicyClient" />
	
	<bean id="addXingshulinPolicyClient" class="com.zhongan.core.group.queue.client.xingshulin.AddXingshulinPolicyClient" />
	<bean id="xingshulinPolicyService" class="com.zhongan.core.group.service.impl.XingshulinPolicyServiceImpl"/>
</beans>