<?xml  version="1.0" encoding="UTF-8"?>
<!-- configure bean file by using XML scheme -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:armor="http://www.zhongan.com/schema/armor"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.zhongan.com/schema/armor
		http://www.zhongan.com/schema/armor/armor.xsd">


	<context:annotation-config />

	<context:component-scan base-package="com.zhongan.openapi" />

	<!-- Activate Armor annotations -->
	<armor:annotation-config order="0" />
	
	<armor:circuit-breaker id="messageServiceBreaker" exceptionThreshold="50" timeout="5000" />
	<!-- 
	<armor:concurrency-throttle id="flowConcurrencyThrottle" limit="80" />
 -->
</beans>
