<div ng-controller="DistSlotCtrl" class="page-content">
    <div class="page-header">
        <h1>
            Slot
            <small>
                <i class="icon-double-angle-right"></i>
                 	分配
            </small>
        </h1>
    </div>
    <div  style="border: 1px solid #ddd;">
		<div class="col-xs-12">
    		<alert ng-show="data.isShow" type="data.type" close="closeAlert()">{{data.msg}}</alert>
		</div>
     	<div class="space"></div>
	    <form name="slotForm" role="form" class="form-horizontal">
	        <div class="form-group">
	            <label for="inst" class="col-sm-1 control-label h5">Instance</label>
	            <div class="col-sm-2">
	                <input type="text" id="inst" name="inst" class="form-control input-sm" ng-model="slotsInfo.instance" required/>
					<div class="error" ng-show="slotForm.inst.$dirty && slotForm.inst.$invalid">
						<div class="error" style="color:red; ng-show="slotForm.inst.$error.required">
							不能为空
						</div> 
					</div>
	            </div>
	            <div class="col-sm-2">
	                <button type="button" class="btn btn-default btn-info" ng-click="addSlot()">
	                    <span class="icon-plus" aria-hidden="true"></span>增加新的Slot
	                </button>
	            </div>
	        </div>
	        <hr>
	        <div class="form-group" ng-repeat="slot in slots">
	            <label for="fromId" class="col-sm-1 control-label h5">Slot From</label>
	            <div class="col-sm-1">
	                <input  id="fromId" name="fromId" type="number" class="form-control input-sm" ng-model="slot.fromId" required/>
	            </div>
	            <label for="toId" class="col-sm-1 control-label h5">Slot To</label>
	            <div class="col-sm-1">
	                <input  id="toId" name="toId" type="number" class="form-control input-sm" ng-model="slot.toId" required/>
	            </div>
	            <label class="col-sm-1 control-label h5">Group</label>
	            <div class="col-sm-1">
	                <select class="input-sm" ng-model="slot.groupId" ng-options="grp.id as grp.id for grp in groups" ng-change="showGroup(slot.groupId)"></select>
	            </div>
	            <div ng-show="isShowGrpInfo">
	            	<p class="text-left col-sm-3">{{grpInfo[slot.groupId]}}</p>
	            </div>
	            <a class="black col-sm-1" ng-click="remove($index)"
	               tooltip-placement="top" tooltip="删除">
	                <i class="icon-trash bigger-170"></i>
	            </a>
	        </div>
	    </form>
	
	    <div class="modal-footer">
	        <button class="btn btn-primary col-sm-1" ng-click="distSlots()">提交</button>
	    </div>
	    <div class="space"></div>
	    
	</div>
</div>