<div ng-controller="SlotCtrl" class="page-content">
    <div class="page-header">
        <h1>
            Slot
            <small>
                <i class="icon-double-angle-right"></i>
                	查看
            </small>
        </h1>
    </div>
    
    <div>
        <label class="control-label h5">Instance</label>
    </div>
    <div>
    	<select class="form-control" ng-model="instance" ng-options="ins for ins in instances" ng-change="getSlotsInfo(instance)"></select>
    </div>
    <hr>
    
   <div ng-show ="isShow">
     <div>
         <label class="control-label h5">Group</label>
     </div>
     <div>
       	<label class="control-label">{{'id : ' + group.id + ',  master : ' + group.master.host + ' : ' + group.master.port + ',  slave : ' + group.slave.host + ' : ' + group.slave.port}}</label>
   	 </div>
   	 <hr>
   </div>
   
    <div>
        <label class="control-label h5">Slots Status</label>
    </div> 
                  
    <table class="table table-bordered table-hover table-responsive table-condensed">
        <tbody>
        <tr ng-repeat="trId in tableLength">
            <td ng-repeat="tdId in tableLength" ng-click="showGroup(trId * 32 + $index)" style="background-color:{{colors[slotGidMap[trId * 32 + $index]]}};">{{trId * 32 + $index}}</td>
        </tr>
        </tbody>
    </table>
         
</div>
