<div ng-controller="SlotCtrl" class="page-content">
    <div class="page-header">
        <h1>
            Slot
            <small>
                <i class="icon-double-angle-right"></i>
                	查看
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="widget-box">
            <div class="widget-header">
                <h4>实例列表</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="col-md-1 control-label">Instance</label>
                            <select class="form-control col-md-2" ng-model="instance" ng-options="ins for ins in instances" ng-change="getSlotsInfo(instance)"></select>


                            <!--<hr>-->
                            <div ng-show ="isShow">
                                <label class="col-sm-1 control-label">Group</label>
                                <label class="col-md-2 control-label b">{{group.host + ' : ' + group.port}}</label>
                            </div>
                        </div>
                        <hr>
                        <div class="col-xs-12">
                            <label class="col-sm-1 control-label">Slots Status</label>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover col-sm-4">
                                    <tbody>
                                    <tr ng-repeat="trId in tableLength">
                                        <td ng-repeat="tdId in tableLength" ng-click="showGroup(trId * 32 + $index)" style="background-color:{{colors[slotGidMap[trId * 32 + $index]]}};">{{trId * 32 + $index}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
