<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="byName">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<!-- 声明式事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<!-- 分表TDDL数据源 -->
	<bean id="mysqlTddlDataSource" class="com.taobao.tddl.client.jdbc.TDataSource"
		init-method="init">
		<property name="appName" value="OPEN_PLATFORM_DEV_APP" />
		<property name="dynamicRule" value="true" />
	</bean>

	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="mysqlTddlTransactionManager" />
	</bean>

	<bean id="mysqlTddlTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="mysqlTddlDataSource" />
	</bean>
	<alias name="mysqlTddlTransactionManager" alias="transactionManager" />

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:dal/sqlmap-config.xml</value>
		</property>
		<property name="dataSource" ref="mysqlTddlDataSource" />
	</bean>
	
	<bean id="seqAppKey" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_app_key" />
	</bean>

	<bean id="seqApi" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api" />
	</bean>
	
	<bean id="seqApiAttribute" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api_attribute" />
	</bean>
	
	<bean id="seqApiErrorCode" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api_error_code" />
	</bean>
	
	<bean id="seqApiGroup" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api_group" />
	</bean>
	
	<bean id="seqApiPrivilege" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api_privilege" />
	</bean>
	
	<bean id="seqApiRequestLog" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_api_request_log" />
	</bean>
	
	<bean id="seqDeveloper" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_developer" />
	</bean>
	
	<bean id="seqPublicKey" class="com.taobao.tddl.client.sequence.impl.GroupSequence"
		init-method="init">
		<property name="sequenceDao" ref="idSequenceDao" />
		<property name="name" value="seq_public_key" />
	</bean>

	<!-- seq -->
	<bean id="idSequenceDao" class="com.taobao.tddl.client.sequence.impl.GroupSequenceDao"
		init-method="init">
		<!-- appName，必填 -->
		<property name="appName" value="OPEN_PLATFORM_DEV_APP" />
		<!-- 数据源的个数 -->
		<property name="dscount" value="2" />
		<!-- 数据库名：从哪些数据库中取ID -->
		<property name="dbGroupKeys">
			<list>
				<!-- 如果在末尾插入"-OFF",该源将被关掉，该源占据的SQL段会被保留" -->
				<!-- 当dbGroupKeys中配置的个数小于dbcount的值的时候，默认配置了"-OFF"的源 -->
				<value>OP_DEV_00_GROUP</value>
			</list>
		</property>
		<!-- 内步长 ,默认为1000，取值在1-100000之间 -->
		<property name="innerStep" value="5000" />
		<!-- 是否开启自适应，默认是false -->
		<!-- <property name="adjust" value="true" /> -->
		<!-- 重试次数，在多个gourpDataSource的场景下，建议设置成1-2次。默认为2次 -->
		<property name="retryTimes" value="5" />
		<!-- 使用的表的表名 ，默认为sequence -->
		<property name="tableName" value="sequence" />
		<!-- id生成器的字段名,默认为name -->
		<property name="nameColumnName" value="name" />
		<!-- 存值的列的字段名,默认为value -->
		<property name="valueColumnName" value="value" />
		<!-- 存修改时间的字段名 ,默认为gmt_modified -->
		<property name="gmtModifiedColumnName" value="gmt_modified" />
		<property name="adjust" value="true" />
	</bean>

</beans>
