<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
		<bean id="sysPersonService" class="com.taobao.hsf.app.spring.util.HSFSpringConsumerBean"
		init-method="init">
		<property name="interfaceName"
			value="com.zhongan.core.user.service.CusSysPersonService" />
		<property name="version" value="${za.workflow.hsf.consumerversion.common}" />
	</bean>
</beans> 
