<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       "
	default-autowire="byName">
	<!-- ======================================================================== -->
	<!--  DAO定义。                                                             										  -->
	<!-- ======================================================================== -->

	<bean id="processDAO" class="com.zhongan.workflow.engine.dao.impl.ProcessDAOImpl"/>
    <bean id="processHistDAO" class="com.zhongan.workflow.engine.dao.impl.ProcessHistDAOImpl"/>
    <bean id="processParamsDAO" class="com.zhongan.workflow.engine.dao.impl.ProcessParamsDAOImpl"/>
    <bean id="processTemplateDAO" class="com.zhongan.workflow.engine.dao.impl.ProcessTemplateDAOImpl"/>
    <bean id="taskListDAO" class="com.zhongan.workflow.engine.dao.impl.TaskListDAOImpl"/>
</beans>
