<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-3.0.xsd
       ">

	<bean id="leaderElector" class="com.zhongan.workflow.scheduler.LeaderElector" init-method="register"
		destroy-method="destroy">
		<constructor-arg name="zkConnectionString">
			<value>${za.workflow.zkConnectionString}</value>
		</constructor-arg>
		<constructor-arg name="zkSessionTimeout">
			<value>${za.workflow.zkSessionTimeout}</value>
		</constructor-arg>
		<constructor-arg name="ephemeralZnodeParent">
			<value>${za.workflow.ephemeralZnodeParent}</value>
		</constructor-arg>
		<constructor-arg name="ephemeralZnodeNamePrefix">
			<value>${za.workflow.ephemeralZnodeNamePrefix}</value>
		</constructor-arg>
	</bean>

	<bean id="scheduler" class="com.zhongan.workflow.scheduler.SingleNodeTaskScheduler">
		<property name="poolSize" value="${za.workflow.scheduler.poolSize}" />
		<property name="leaderElector" ref="leaderElector" />
	</bean>

	<bean id="expiredProcessTask" class="com.zhongan.workflow.scheduler.ExpiredProcessTask" />
		
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="expiredProcessTask" method="run" fixed-delay="${za.workflow.scheduler.fixeddelay}" />
	</task:scheduled-tasks>	

</beans>